.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 100vh;         
    text-align: center;    
}

.title {
    font-size: 2rem;       
    margin-bottom: 1rem;   
    color: #fff;          
}

.plane-icon {
    font-size: 5rem;       
    color: #fff;          
    margin-bottom: 2rem;   
}

.landing-page-container {
    display: flex;
    justify-content: center;    
    align-items: center;        
    gap: 2rem;                  
}

.landing-page-container > div {
    width: 200px;                    
    padding: 1rem 2rem;              
    border: 1px solid #ccc;         
    border-radius: 8px;              
    background-color: #f9f9f9;       
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;              
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;                 
}

.landing-page-container > div:hover {
    background-color: #c8cefa;       
    color: #fff;                     
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px);     
}


.landing-page-container > div .icon {
    font-size: 2rem;                 
    transition: transform 0.3s, color 0.3s; 
}


.landing-page-container > div:hover .icon {
    color: #fff;                    
    transform: rotate(20deg) scale(1.2); 
}

a {
    text-decoration: none; 
    color: inherit;        
    display: block;        
    width: 100%;           
    height: 100%;          
}