.center-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.query-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin-top: 1rem;
}

.query-input {
    flex: 0.5;            
    width: 100%;          
    max-width: 150px;     
    box-sizing: border-box;
    padding: 6px;         
    font-size: 0.6rem;    
}

.icon-container {
    display: flex;
    align-items: center;  
    justify-content: center;  
    height: 100%;         
    margin: 0;            
}

.add-icon {
    transition: color 0.2s ease, transform 0.2s ease; 
    cursor: pointer;           
}

.add-icon:hover {
    color: green;             
    transform: scale(1.2);    
    filter: drop-shadow(0 2px 4px rgba(0, 128, 0, 0.3)); 
}


.query-list-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;                            
    align-items: center;                  
    padding: 0.75rem 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fafafa;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin-bottom: 0.25rem;
}


.query-list-item.header {
    font-weight: bold;
    background-color: #c8cefa;
}


.query-list-item p {
    margin: 0;
    text-align: center;
}

