
.country-select-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 10rem;

}

.country-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    min-height: 100vh;
}

.country-select-header {
    width: 100%;
    max-width: 600px;
    text-align: left; 
}

.input-container {
    display: flex;
    justify-content: flex-start; 
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

.search-input {
    padding: 0.5rem;
    width: 100%;
    height: 30px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.date-picker {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.trips-scrollable-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px;     
    background-color: #f9f9f9; 
    padding: 10px;
    overflow: hidden;       
}

.travel-list {
    list-style: none;
    padding: 0;
    width: 450px;
    overflow-y: auto;
    flex-grow: 1;
}

.travel-list-item {
    margin-bottom: 0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fafafa;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.travel-list-item label {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 100%;                    
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    color: red; 
}